.btn {
    display: block;
    width: 100%;
    padding: 16px 0;
    
    text-align: center;
    text-decoration: none;
    letter-spacing: normal;

    font: inherit;
    font-size: 18px;
    line-height: 16px;
    font-weight: 700;

    color: @black;
    background-color: @orange;

    transition: all .5s ease;

    &:hover {
        background-color: lighten(@orange, 5%);
    }
}

.btn--alt {
    color: @white_btn;
    background-color: @brown;
    // padding: 7px 0;
    padding: 16px 0;
}

.btn--o {
    color: @brown;
    background-color: @white_btn;
    border: 1px solid @brown;
}

.arrowUpBtn {
    display: none;
    position: fixed;
    right: 20px;
    bottom: 30px;
    width: 36px;
    height: 36px;
    // color: @orange;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 5px @white_pure;
    opacity: 0.5;
    cursor: pointer;
    z-index: 100;
    transition: opacity 0.2s;
    background: @white_pure no-repeat url(../img/up-button.svg) center center;
    background-size: contain;


    &:hover {
        opacity: 1;
    }
}