.popup__overlay {
    position: fixed;
    // overflow: hidden;
    display: none;
    top: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 21;
    background-color: rgba(0,0,0,0.8);

    .popup__wrapper {
        position: fixed;
        left: 50%;
        top: 100px;
        // width: 752px;
        // .md(width, 90%);
        transform: translateX(-50%);
    }
    .popup {
        &__close {
            position: absolute;
            right: -20px;
            top: -30px;
            font-size: 35px;
            color: @white_pure;
            cursor: pointer;
        }
        
        // &__title {
        //     width: 100%;
        //     min-height: 71px;

        //     color: @white_pure;
        //     background-color: @orange;

        //     font-size: 21px;
        //     font-size: 700;
        //     line-height: 71px;
        //     text-align: center;
        //     text-transform: uppercase;
        // }

        // &__form {
        //     form {
        //         color: @black;
        //         background-color: @white_pure;
        //         padding: 35px 88px 50px 88px;
        //         .xs-block({
        //             padding: 25px 48px 30px 48px;
        //         });
                
        //     }

            // &-header {
            //     text-align: center;
            //     font-size: 30px;
            //     line-height: 35px;
            //     margin-bottom: 17px;
            //     .sm-block({
            //         font-size: 25px;
            //         line-height: 30px;
            //     });
            //     .xs-block({
            //         font-size: 20px;
            //         line-height: 25px;
            //     });
            // }

            // &-input {
            //     width: 365px;
            //     .sm(width, 100%);
            //     height: 56px;
            //     display: block;
            //     margin: 0 auto;
            //     margin-bottom: 10px;
            //     border: 1px solid @orange;
            //     padding: 10px 15px;
            // }

            // &-btn {
            //     outline: none;
            //     border: none;
            //     .sm(width, 100%);
            // }
        // }
    }
}
